EMAIL_LOGIN="test@mail.mail"
EMAIL_PASSWORD="mysecret"
SMTP="smtp.mail.mail"
PORT=465
FILE_ADRESSES="emailadressen.txt"
FILE_TEXT="mail_text_example.txt"
FILE_HTML="mail_html_example.html"
SUBJECT="zomaar een mail"
